{% load static %}
<header class="section-header">

    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-6">
                    <a href="{% url 'index' %}" class="brand-wrap">
                        <img class="logo" src="{% static 'images/icons/new-logo.svg' %}">
                    </a> <!-- brand-wrap.// -->
                </div>
                <div class="col-lg col-sm col-md col-6 flex-grow-0">
                    <div class="category-wrap dropdown d-inline-block float-right">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bars"></i> Операции
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'create_person' %}">Добавления нового пользователя
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'create_card_select_person' %}">Добавления карты для пользователя
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="#">Удаления или редактирования карты пользователя
                                </a>
                            </li>
                        </ul>
                    </div>  <!-- category-wrap.// -->
                </div> <!-- col.// -->
                <div class="col-lg  col-md-6 col-sm-12 col">
                    <form action="#" class="search" method="get">
                        <div class="input-group w-100">
                            {% csrf_token %}

                            <input type="search" class="form-control" style="width:60%;" placeholder="Search" name="q">


                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form> <!-- search-wrap .end// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->


</header>
