{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
        <div class="container">

            <header class="section-heading">
                <h3 class="section-title">Все карты</h3>
            </header><!-- sect-heading -->
            <div class="row">

                {% for card in cards %}
                    <div class="col-md-3">
                        <div class="card card-product-grid">
                            <figcaption class="info-wrap">
                                <a href="{{ card.get_absolute_url }}">
                                    <div class="flip-container">
                                        <div id="flipper" class="flipper">
                                            <div class="cartao cartao-front">
                                                <div class="flex-area j-space-between a-items-center header-cartao a-items-start">
                                                    <h3 style="white-space: nowrap">{{ card.owner.first_name }} {{ card.owner.last_name }}</h3>
                                                </div>
                                                <hr>
                                                <label>
                                                    <span>Категория карты</span>
                                                    <div class="input-area">
                                                        <p class="numero-do-cartao-front">{{ card.card_category }}</p>
                                                    </div>
                                                </label>
                                                <hr>
                                                <label>
                                                    <span>Номер карты</span>
                                                    <div class="input-area">
                                                        <p class="numero-do-cartao-front">{{ card.number }}</p>
                                                    </div>
                                                </label>
                                                <hr>
                                                <div class="flex-area j-space-between">
                                                    <label class="w-48">
                                                        <span>Дата окончания срока</span>
                                                        <div class="input-area">
                                                            <p class="data-validade-cartao-front">{{ card.date_of_expiry }}</p>
                                                        </div>
                                                    </label>
                                                    {% if card.card_category != 'bonus' %}
                                                        <hr>
                                                        <label class="w-48">
                                                            <span>CVV</span>
                                                            <div class="input-area">
                                                                <p class="cvv-front">{{ card.cvv }}</p>
                                                            </div>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </figcaption>
                        </div>
                    </div> <!-- col.// -->
                {% endfor %}
            </div> <!-- row.// -->

        </div><!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->
    <nav class="mt-4" aria-label="Page navigation sample">
        <ul class="pagination">
            {% if page_obj.has_other_pages %}
                {% if page_obj.has_previous %}
                    <li class="page-item disabled">
                        <a class="page-link"
                           href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                {% for page in paginator.page_range %}
                    {% if page_obj.number == page %}
                        <li class="page-item active"><a class="page-link"
                                                        href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
{% endblock %}